<div class="HBox" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <img id="csumb_logo" src="images/csumb-logo.png" alt="A logo of CSU Monterey Bay.">
    <p style="margin-left: 30px;">
        Leonardo Villalobos <br>
        <i>CST336 Spring 2022</i> <br>
        API References can be found in the "How It Works" route. <br>
    </p>
</div>