<nav>
    <div id="nav_container">
        <a class="nav_item" href="/"><h5>Home</h5></a>
        <a class="nav_item" href="/how-it-works"><h5>How It Works</h5></a>
        <a class="nav_item" href="/four-day-forecast"><h5>4-Day Forecast</h5></a>
    </div>
</nav>
<div style="height: 45px"></div>