<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetha | Home</title>
    
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <%- include('partials/nav.ejs') %>
    </header>
    <main>
        <div id="wetha_details">
            <h1 id="home_logo" class="text_center">☼ Wetha ☼</h1>
            <p class="text_center">
                A simple weather forecasting application. Enter a city and state name to get the
                weather forecast.
            </p>
            <div id="home_search_form">
                <form action="/forecast">
                    <input class="text_input" type="text" name="city" placeholder="Enter city name">
                    <input class="text_input" type="text" name="state" placeholder="Enter state name">
                    <input class="btn_input" type="submit" value="Get Weather">
                </form>
            </div>
            <div class="error_label">
                
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>
