<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wetha | Home</title>
    
    <link href="css/style.css" rel="stylesheet">
</head>
<body class="default">
    <header>
        <%- include('partials/nav.ejs') %>
    </header>
    <main>
        <div class="wetha_details">
            <h1 class="text_center home_logo">Wetha</h1>
            <p class="text_center">
                A simple weather forecasting application. Enter a city and state name to get the
                weather forecast.
            </p>
            <div id="home_search_form">
                <div>
                    <form action="/forecast" method="get">
                        <div>
                            <label for="city_entry_label">
                                <input class="text_input" type="text" name="city" placeholder="Enter city name" required>
                            </label>
                            <label for="state_entry_label">
                                <input class="text_input" type="text" name="state" placeholder="Enter state name" required>
                            </label>
                        </div>
                        <% if (error) { %>
                            <div class="text_center" style="color: red; margin-top: 15px;">
                                Error: <%- message %>
                            </div>
                            <input class="btn_input submit_btn" type="submit" value="Current Forecast" style="margin-top: 10px;">
                        <% } else { %>
                            <input class="btn_input submit_btn" type="submit" value="Current Forecast">
                        <% } %>
                        <input class="btn_input submit_btn" type="submit" value="Upcoming Week" formaction="/weekly-forecast">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer><%- include('partials/footer.ejs') %></footer>
</body>
</html>
